body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #343a40;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/******
* Header
******/
.header {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2%;
  flex-direction: column;
  align-items: center;
}


.logo {
  line-height: 1.5em;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.logo {
  -webkit-animation: fadein 2s ease-in;
  -moz-animation: fadein 2s ease-in;
  animation: fadein 2s ease-in;
}



/******
* Nav
******/

.nav_bar {
  position: sticky;
  width: 100%;

}

/******
* Mission
******/

.div_mission {
  text-align: center;
  color: whitesmoke;
  background-color: #364859;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 15px 50px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h1, .p_mission {
  padding: 3%;
}
